/* main page styling */
.light-bg {
    background-color: #c4bebe;
}

.dark-bg {
    background-color: #313233;
}

.main-bg {
    background-color: #494949;
}

.container {
    background-color: #5a5a5a;
    margin: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.body {
    display: flex;
}

.card {
    border: none;
    background-color: transparent;
    text-decoration: none;
}

.card-body {
    padding: 0%;
}

a:hover {
    color: #347943;
    text-decoration: none;
}

/* image styling */
.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #347943;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #5a5a5a;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    width: 15em;
    overflow: hidden;
}

/* .masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 100%;
    background: #445261;
    z-index: 100;
} */

/* link styling */
.weapon-link {
    text-decoration: none;
    color: #445261;
}

.weapon-link:hover,
.page-link {
    color: rgb(16, 232, 27);
}

.weapon-name {
    margin-top: 20%;
    margin-left: 5%;
}

.link {
    color: rgb(16, 232, 27);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #494949;
    text-decoration: underline;
}

#edit-delete {
    margin-left: 1.25rem;
}

/* styles for page elements */
.page-heading {
    color: #347943;
}

button {
    border-radius: 6px;
    background-color: #347943;
}

main {
    margin: 30px;
}

input {
    border-radius: 6px;
    background-color: #c4bebe;
}

a {
    color: #c4bebe;
    text-decoration: none;
}

p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

label {
    display: block;
}

form {
    margin: 2rem;
}
