@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --body: 'Roboto Mono', sans-serif;
}

/* main page styling */
html, body {
    font-family: var(--body);
}

.light-bg {
    background-color: #c4bebe;
}

.dark-bg {
    background-color: #313233;
}

.main-bg {
    background-color: #494949;
}

img.card-img-top.img-fluid {
    object-fit: contain;
    min-height: 200px;
    max-height: 200px;
}

.medium-bg {
    background-color: #5a5a5a;
}

.card {
    border: none;
    background-color: transparent;
    text-decoration: none;
}

.card-body {
    padding: 0%;
}

a:hover {
    color: #204B29;
    text-decoration: none;
}

.btn-bg {
    background-color: #204B29;
}

/* image styling */
.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #204B29;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #5a5a5a;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    width: 15em;
    overflow: hidden;
}

.card-img .card-img-bottom .card-img-top {
    width: auto !important;
}

/* link styling */
.weapon-link {
    text-decoration: none;
    color: #445261;
}

.weapon-link:hover,
.page-link {
    color: rgb(16, 232, 27);
}

.weapon-name {
    margin-top: 20%;
    margin-left: 5%;
}

.link {
    color: rgb(16, 232, 27);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #494949;
    text-decoration: underline;
}

#edit-delete {
    margin-left: 1.25rem;
}

/* styles for page elements */
.page-heading {
    color: #FFFFFF;
    background-color: #204B29;
    border-radius: 6px;
}

button {
    border-radius: 6px;
    background-color: #204B29;
}

main {
    margin: 30px;
}

input {
    border-radius: 6px;
    background-color: #c4bebe;
}

a {
    color: #c4bebe;
    text-decoration: none;
}

p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

label {
    display: block;
}

form {
    margin: 2rem;
}
