{% extends "base.html" %}
{% block content %}

<!-- heading -->
<div class="row">
    <div class="col-12 page-heading">
        <h2>Add a weapon to the DayZ Weapons Catalogue</h2>
    </div>     
</div>

<div class="row">
    <div class="col-12">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <button type="submit" class="btn btn-bg text-light">Add Weapon</button>
                <a href="{% url 'home' %}" class="btn btn-danger">Cancel</a>
            </p>
        </form>
    </div>
</div>
</div>

{%endblock%}