{% extends "base.html" %} {% block content %}

<!-- heading -->
<div class="row">
    <div class="col-12 page-heading">
        <h2>Edit a weapon in the DayZ Weapons Catalogue</h2>
    </div>     
</div>

<!-- main content, form to edit weapon -->
<div class="row">
    <div class="col-12">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <button type="submit" class="btn btn-bg text-light">Save Changes</button>
                <a href="{% url 'weapon_detail' weapon.id %}" class="btn btn-danger">Cancel</a>
            </p>
        </form>
    </div>
</div>

{%endblock%}