{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Weapon Listing Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
            {% for weapon in weapon_list %}
                <div class="col-sm-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in weapon.image.url %}
                                <img src="" class="card-img-top">
                                {% else %}
                                <img src="{{  weapon.image.url  }}" class="card-img-top">
                                {% endif %}
                            </div>
                            <a href="#">
                                <h2 class="card-title">{{  weapon.name  }}</h2>
                            </a>
                        </div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page Navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{%endblock%}